<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav-side-bar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home-common.css}">
    <title>Home</title>
    <style>
    </style>
</head>
<body>
<nav>

</nav>
<main>
    <div class="nav-bar" th:insert="~{fragments/common/navigation-bar :: navigation-bar ('none')}"></div>
    <div class="home-section">

    </div>
</main>
<div class="footer" th:insert="~{fragments/common/footer :: footer}"></div>
</body>
</html>