<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"><head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Home</title>
</head>
<body>
<header class="header">
  <div class="header-inner">
    <nav class="nav">
      <a th:href="@{/login}" class="button login">Login</a>
      <a th:href="@{/register}" class="button register">Register</a>
    </nav>
  </div>
</header>
<main>
  <div class="logo-container">
    <a href="/" class="logo-big">
      <img src="/images/smart-wallet-high-resolution-logo-transparent.png" alt="Logo Image">
    </a>
  </div>
</main>
<div class="footer"><p>© 2025 Smart Wallet. All rights reserved.</p></div>
</body></html>