<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"><head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&amp;display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/form.css">
  <title>Login</title>
</head>
<body>

<main>
  <section class="section full-height">

    <div class="container">
      <a href="/" class="logo-big">
        <img src="/images/smart-wallet-text-only.png" alt="Logo Image">
      </a>
    </div>

    <form class="form">

      <h3>Login Here</h3>

      <label for="username">Username</label>
      <input type="text" placeholder="Username" id="username">

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password">

      <button type="submit">Log In</button>

      <p class="form-already">Don't have an account? <a href="/register">Register now</a>!</p>

    </form>

  </section>
</main>
<div class="footer"><p>© 2025 Smart Wallet. All rights reserved.</p></div>
</body>
</html>