<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/nav-side-bar.css">
  <link rel="stylesheet" type="text/css" href="/css/home-common.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/upgrade.css">
  <title>Upgrade</title>
</head>
<body>
<nav>

</nav>
<main>
  <div class="nav-bar">
    <div class="side-bar-container">
      <nav>
        <div class="side_navbar">
          <div class="smart-wallet-nav-bar">
            <div class="smart-wallet-nav-bar-name">Smart Wallet</div>
            <div class="smart-wallet-nav-bar-version">v1.0.0</div>
          </div>
          <div class="func-block">
            <a href="/home">
              <p>Dashboard</p>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"></path>
              </svg>
            </a>
            <a class="special-gold active-special-gold" href="/subscriptions">
              <p>Upgrade</p>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                      d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                      clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
          <div class="func-block">
            <span>Quick Link</span>
            <a href="/transfers">
              <p>Transfers</p>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"></path>
              </svg>
            </a>
            <a href="/wallets">
              <p>Wallets</p>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                      d="M12 14a3 3 0 0 1 3-3h4a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2h-4a3 3 0 0 1-3-3Zm3-1a1 1 0 1 0 0 2h4v-2h-4Z"
                      clip-rule="evenodd"></path>
                <path fill-rule="evenodd"
                      d="M12.293 3.293a1 1 0 0 1 1.414 0L16.414 6h-2.828l-1.293-1.293a1 1 0 0 1 0-1.414ZM12.414 6 9.707 3.293a1 1 0 0 0-1.414 0L5.586 6h6.828ZM4.586 7l-.056.055A2 2 0 0 0 3 9v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2h-4a5 5 0 0 1 0-10h4a2 2 0 0 0-1.53-1.945L17.414 7H4.586Z"
                      clip-rule="evenodd"></path>
              </svg>
            </a>
            <a href="/transactions">
              <p>Transactions</p>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M8 20V7m0 13-4-4m4 4 4-4m4-12v13m0-13 4 4m-4-4-4 4"></path>
              </svg>
            </a>
          </div>
          <div class="func-block">
            <span>Utility</span>
            <a href="/subscriptions/history">
              <p>Subscription History</p>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                      d="M12 6h.01M12 12h.01M12 18h.01"></path>
              </svg>
            </a>
          </div>
          <div class="func-block admin-func-block">
            <span>Admin</span>
            <a href="/users">
              <p>Users</p>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                      d="M12 6h.01M12 12h.01M12 18h.01"></path>
              </svg>
            </a>
            <a href="/reports">
              <p>Reports</p>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                      d="M12 6h.01M12 12h.01M12 18h.01"></path>
              </svg>
            </a>
          </div>
          <div class="func-block">
            <a class="logout" href="/logout">
              <p>Logout</p>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                   width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"></path>
              </svg>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="home-section">
    <div class="single-upgrade-box">
      <div class="upgrade-option-header-box">
        <div class="upgrade-option-header default">
          <h2>DEFAULT</h2>
        </div>
      </div>
      <div class="upgrade-option-benefits">
        <table class="styled-table default-benefits">
          <thead>
          <tr>
            <th>Benefits</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Unlock 1 wallet</td>
          </tr>
          <tr>
            <td>15% tax per transfer</td>
          </tr>
          <tr>
            <td>International tax 0.20 cent</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="upgrade-option-price">
        <p>0.00</p>
        <p>monthly price</p>
        <p>0.00</p>
        <p>yearly price</p>
      </div>
      <form class="form" action="/subscriptions" method="post">
        <label>Choose period</label>
        <select name="subscriptionPeriod">
          <option value="MONTHLY">Monthly</option>
          <option value="YEARLY">Yearly</option>
        </select>
        <label>Choose wallet to pay with</label>
        <select name="walletId">
          <option value="dccacda6-12d3-422c-8ad0-23992ef55a1b">Standard Wallet - 36.03 EUR</option>
        </select>
        <!-- Buttons does not support th:field and th:value, so we can use name(pick the object field) value(the value to be bind to that field)-->
        <button class="subscription-action-button" type="submit" name="subscriptionType" id="DEFAULT" value="DEFAULT">
          <p>Receive</p>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M2 2H3.30616C3.55218 2 3.67519 2 3.77418 2.04524C3.86142 2.08511 3.93535 2.14922 3.98715 2.22995C4.04593 2.32154 4.06333 2.44332 4.09812 2.68686L4.57143 6M4.57143 6L5.62332 13.7314C5.75681 14.7125 5.82355 15.2031 6.0581 15.5723C6.26478 15.8977 6.56108 16.1564 6.91135 16.3174C7.30886 16.5 7.80394 16.5 8.79411 16.5H17.352C18.2945 16.5 18.7658 16.5 19.151 16.3304C19.4905 16.1809 19.7818 15.9398 19.9923 15.6342C20.2309 15.2876 20.3191 14.8247 20.4955 13.8988L21.8191 6.94969C21.8812 6.62381 21.9122 6.46087 21.8672 6.3335C21.8278 6.22177 21.7499 6.12768 21.6475 6.06802C21.5308 6 21.365 6 21.0332 6H4.57143ZM10 21C10 21.5523 9.55228 22 9 22C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C9.55228 20 10 20.4477 10 21ZM18 21C18 21.5523 17.5523 22 17 22C16.4477 22 16 21.5523 16 21C16 20.4477 16.4477 20 17 20C17.5523 20 18 20.4477 18 21Z"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>

      </form>
    </div>

    <div class="single-upgrade-box">
      <div class="upgrade-option-header-box">
        <div class="upgrade-option-header premium">
          <h2>PREMIUM</h2>
        </div>
      </div>
      <div class="upgrade-option-benefits">
        <table class="styled-table premium-benefits">
          <thead>
          <tr>
            <th>Benefits</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Unlock 2 wallets</td>
          </tr>
          <tr>
            <td>8% tax per transfer</td>
          </tr>
          <tr>
            <td>International tax 0.20 cent</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="upgrade-option-price">
        <p>19.99</p>
        <p>monthly price</p>
        <p>199.99</p>
        <p>yearly price</p>
      </div>
      <form class="form" action="/subscriptions" method="post">
        <label>Choose period</label>
        <select name="subscriptionPeriod">
          <option value="MONTHLY">Monthly</option>
          <option value="YEARLY">Yearly</option>
        </select>
        <label>Choose wallet to pay with</label>
        <select name="walletId">
          <option value="dccacda6-12d3-422c-8ad0-23992ef55a1b">Standard Wallet - 36.03 EUR</option>
        </select>
        <button class="subscription-action-button" type="submit" name="subscriptionType" id="PREMIUM" value="PREMIUM">
          <p>Receive</p>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M2 2H3.30616C3.55218 2 3.67519 2 3.77418 2.04524C3.86142 2.08511 3.93535 2.14922 3.98715 2.22995C4.04593 2.32154 4.06333 2.44332 4.09812 2.68686L4.57143 6M4.57143 6L5.62332 13.7314C5.75681 14.7125 5.82355 15.2031 6.0581 15.5723C6.26478 15.8977 6.56108 16.1564 6.91135 16.3174C7.30886 16.5 7.80394 16.5 8.79411 16.5H17.352C18.2945 16.5 18.7658 16.5 19.151 16.3304C19.4905 16.1809 19.7818 15.9398 19.9923 15.6342C20.2309 15.2876 20.3191 14.8247 20.4955 13.8988L21.8191 6.94969C21.8812 6.62381 21.9122 6.46087 21.8672 6.3335C21.8278 6.22177 21.7499 6.12768 21.6475 6.06802C21.5308 6 21.365 6 21.0332 6H4.57143ZM10 21C10 21.5523 9.55228 22 9 22C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C9.55228 20 10 20.4477 10 21ZM18 21C18 21.5523 17.5523 22 17 22C16.4477 22 16 21.5523 16 21C16 20.4477 16.4477 20 17 20C17.5523 20 18 20.4477 18 21Z"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </form>
    </div>

    <div class="single-upgrade-box ultimate-box">
      <div class="upgrade-option-header-box">
        <div class="upgrade-option-header ultimate">
          <h2>ULTIMATE</h2>
        </div>
      </div>
      <div class="upgrade-option-benefits">
        <table class="styled-table ultimate-benefits">
          <thead>
          <tr>
            <th>Benefits</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Unlock 3 wallets</td>
          </tr>
          <tr>
            <td>2% tax per transfer</td>
          </tr>
          <tr>
            <td>No International tax</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="upgrade-option-price">
        <p>49.99</p>
        <p>monthly price</p>
        <p>499.99</p>
        <p>yearly price</p>
      </div>
      <form class="form" action="/subscriptions" method="post">
        <label>Choose period</label>
        <select name="subscriptionPeriod">
          <option value="MONTHLY">Monthly</option>
          <option value="YEARLY">Yearly</option>
        </select>
        <label>Choose wallet to pay with</label>
        <select name="walletId">
          <option value="dccacda6-12d3-422c-8ad0-23992ef55a1b">Standard Wallet - 36.03 EUR</option>
        </select>

        <div class="default-label-box ultimate-label">
          <p>Your current subscription</p>
        </div>
      </form>
    </div>
  </div>
</main>
<div class="footer"><p>© 2025 Smart Wallet. All rights reserved.</p></div>

</body>
</html>